 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-2 text-justify">
                    <p>
                        My name is <strong>Thierno Oumar DIALLO</strong>, I am 26 years old. I live in France.
                        I graduated in 2021 at the engineering school of the University of Nantes
                        (<strong>Polytech' Nantes</strong>).
                        I am specialized in data engineering. During my last year of study, I was on a work-study contract.
                    </p>
                </div>
                <div class="col-lg-5 text-justify">
                    <p>
                        I am <span class="text-info">mainly</span> interested in Machine Learning, MLOps, Deep Learning,
                        NLP and Data Engineering.
                        On this portfolio site, you will find all the experiences and certifications I got.
                        Do not hesitate to leave me a message if you would like to be in touch with me.
                    </p>
                </div>
            </div>
            <div class="portfolio-flex-row">
                <div class="portfolio-flex-item portfolio-item">
                    <a href="#portfolioModal-0" class="portfolio-link" data-toggle="modal">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <button type="button" class="btn btn-info font-weight-bold">Certifications</button>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
