 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                {% if post.modal-id != 0 %}
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">

                            <ul class="list-inline item-details">
                                {% if post.client %}
                                    <li>{{ post.type }}:
                                        <strong class="text-success"> {{ post.client }} </strong>
                                    </li>
                                {% endif %}
                                {% if post.project-date %}
                                    <li>Date:
                                        <strong class="text-success">  {{ post.project-date }}</strong>
                                    </li>
                                {% endif %}
                                {% if post.category %}
                                    <li>Service:
                                        <strong class="text-success"> {{ post.category }}</strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <h4>Description</h4>
                            {% if post.description %}
                                <p class="text-justify">{{ post.description }}</p>
                            {% endif %}
                            <br>
                            <h4>Tools</h4>
                            <ul class="list-inline item-details">
                                {% for tool in post.tools %}
                                <li class="text-success">
                                    <strong>{{ tool.name }}</strong>
                                </li>
                                {% endfor %}
                            </ul>
                            <br>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="modal-body">
                            <ul class="nav nav-pills nav-fill">
                                {% for certifications in post.certifications %}
                                <li class="nav-item {{ certifications["default"] }}">
                                <a class="nav-link active" href="#{{ certifications.ref }}" role="tab" data-toggle="tab">{{ certifications["type"] }}</a>
                                </li>
                                {% endfor %}
                            </ul>

                            <br>
                            <!-- Tab panes -->
                            <div class="tab-content col">
                                {% for certifications in post.certifications %}
                                <div role="tabpanel" class="table-responsive py-5 tab-pane fade in {{ certifications["default"] }}" id="{{certifications["ref"]}}">
                                    <table class="table table-hover certification-table table-bordered table-responsive table-dark">
                                        <thead>
                                        <tr class="text-justify table-active active">
                                            <th scope="col">#</th>
                                            <th scope="col">Title</th>
                                            {% if certifications.ref != "other" %}
                                                <th scope="col">Organization Name</th>
                                                <th scope="col">Issue Date</th>
                                                <th scope="col">Link</th>
                                            {% else %}
                                                <th scope="col">Stars</th>
                                                <th scope="col">Notice</th>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for certification in certifications.values %}
                                        <tr class="text-justify">
                                            <th scope="row">{{ certification.id }}</th>
                                            <td>{{ certification.title }}</td>
                                            {% if certifications.ref != "other" %}
                                                <td>{{ certification.organization }}</td>
                                                <td>{{ certification.issue_date }}</td>
                                                {% if certification.issue_date != "Ongoing" %}
                                                    <td>
                                                        <a href="{{certification.link}}" target="_blank" rel="{{certifications.ref}}">Credential URL</a>
                                                    </td>
                                                {% endif %}
                                            {% else %}
                                            <td>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="ratings">
                                                        {% for i in (1..certification.stars) %}
                                                        <i class="fa fa-star text-success"></i>
                                                        {% endfor %}
                                                        {% for i in (certification.stars..4) %}
                                                        <i class="fa fa-star"></i>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </td>
                                                <td>{{ certification.notice }}</td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% if certifications.non_certified_skills %}
                                    <hr>
                                    <div class="text-center">
                                        <h4>Other Skills</h4>
                                        <hr class="star-primary">
                                    </div>
                                    <table class="table table-hover table-bordered table-responsive table-dark">
                                        <thead>
                                        <tr class="text-justify table-active active">
                                            <th scope="col">#</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Knowledge level</th>
                                            <th scope="col">Notice</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for certification in certifications.non_certified_skills %}
                                        <tr class="text-justify">
                                            <th scope="row">{{ certification.id }}</th>
                                            <td>{{ certification.title }}</td>
                                            <td>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="ratings">
                                                        {% for i in (1..certification.stars) %}
                                                        <i class="fa fa-star text-success"></i>
                                                        {% endfor %}
                                                        {% for i in (certification.stars..4) %}
                                                        <i class="fa fa-star"></i>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ certification.notice }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <hr>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <br>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}